<aside class="admin-sidebar">
  <div class="sidebar-header">後台管理</div>

  <ul class="sidebar-menu">
    <!-- 首頁圖片管理 -->
    <li class="sidebar-item" *ngFor="let menu of menus">
      <a
        href="javascript:void(0)"
        class="sidebar-link"
        (click)="toggleMenu(menu)"
      >
        <i class="fas" [ngClass]="menu.icon"></i>
        <span class="menu-text">{{ menu.title }}</span>
        <i
          class="fas fa-chevron-down expand-icon"
          [ngClass]="menu.active ? 'rotated' : ''"
        ></i>
      </a>
      <ul
        class="sub-menu"
        id="homepage-submenu"
        [ngClass]="menu.active ? 'show' : ''"
      >
        <li class="sub-item" *ngFor="let submenu of menu.subMenus">
          <a
            [routerLink]="submenu.path"
            routerLinkActive="active"
            class="sub-link"
          >
            <i class="fas fa-circle sub-icon"></i>
            <span>{{ submenu.title }}</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</aside>
